.vc_column_container>.vc_column-inner{
    padding-left: 0;
    padding-right: 0;
}
.vc_row{
    margin-left: 0;
    margin-right: 0;
}
.bk-block{
    h2{
        @include cormorantmedium;
        color: $black;
        font-size: 42px;
        line-height: 44px;

    }
    p{
        @include opensans;
        font-size: 16px;
        color: $grey;
        line-height: 24px;
    }
    .btn{
        &.link{
            @include opensans;
            font-size: 16px;
            line-height: 24px;
            color: #b4b4b4;
            text-decoration: none;
            transition: color 0.2s;
            svg{
                display: inline-block;
                opacity: 1;
                transform:matrix(1,0,0,1,0,0);
                vertical-align: middle;
                transition: all 0.5s;
                @include easeOutQuint;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
            &:hover{

                color: $black;
                svg{
                    opacity:1;
                    transform: matrix(1,0,0,1,10,0);
                }
            }
        }
    }
    @media screen and (max-width: 860px){
        h2{
            font-size:38px;
            line-height: 40px;

        }
        p{
            font-size: 14px;
            line-height: 22px;
        }
    }
    @media screen and (max-width: 560px){
        h2{
            font-size:34px;
            line-height: 36px;

        }
        p{
            font-size: 12px;
            line-height: 20px;
        }
    }
    &.reveal{
        &:not(.stage-taken){
            opacity:0;
            transform: matrix(1,0,0,1,0,40);
            transition: all 1s 0.3s;
            @include easeOutQuint;
            &.take-stage{
                opacity: 1;
                transform: matrix(1,0,0,1,0,0);
            }
        }

    }
    &.simple-text{
        .grid-inner{
            padding-bottom: 90px;
        }
        h1{
            @include cormorantregular;
            font-size: 90px;
            color: $black;
            strong{
                border-bottom:3px solid $pink;
            }
        }
        h2{
            margin-bottom: 40px;
        }
        p{
            @include opensans;
            font-size: 16px;
            line-height: 28px;
            color: $grey;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 860px){
            h2{
                font-size: 38px;
            }
            p{
                font-size: 14px;
                line-height: 26px;
            }
        }
        @media screen and (max-width: 560px){
            .grid-inner{
                padding-bottom: 45px;
            }
            h2{
                font-size: 36px;
                margin-bottom: 20px;
            }
            p{
                font-size: 12px;
                line-height:24px;
            }
        }
    }
    &.sobre-servicos-block{
        background-color: $black;
        .grid-inner{
            padding-top: 80px;
            padding-bottom: 80px;
            margin-bottom: 90px;
            font-size: 0;
            >div{
                display: inline-block;
                vertical-align: top;
            }
            h2{
                color: white;
                max-width: 162px;
            }
            p{
                color: white;
            }
            ul{
                margin-top: 100px;
                li{
                    @include cormorantregular;
                    font-size: 24px;
                    line-height: 45px;
                    color: white;
                }
            }
        }
        &.no-margin{
            .grid-inner{
                margin-bottom: 0px;
            }
        }
        @media screen and (max-width: 560px){
            .grid-inner{
                padding-top: 40px;
                padding-bottom: 40px;
                h2{
                    margin-bottom: 20px;
                }
                ul{
                    margin-top: 50px;
                }
            }
        }
    }
    &.testimonials-block{
        background-color: #f7f7f7;
        .grid-inner{
            padding-top:150px;
            padding-bottom:150px;
            .scrollpane{
                margin-bottom: 55px;
                overflow:hidden;
                >div{
                    display: inline-block;
                }
                .owl-item{
                    display: inline-block;
                }
                .owl-nav{
                    &.disabled{
                        display: none;
                    }
                }
                .item{
                    display: inline-block;
                    h3{
                        @include cormorantregular;
                        font-size: 42px;
                        line-height: 50px;
                        max-width: 920px;
                        margin-bottom: 44px;
                    }
                    p{
                        @include opensans;
                        font-size: 16px;
                        color: $black;

                    }
                    @media screen and (max-width: 860px){
                        h3{
                            font-size: 38px;
                            line-height: 44px;
                            margin-bottom: 40px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                    @media screen and (max-width: 560px){
                        h3{
                            font-size: 32px;
                            line-height: 40px;
                            margin-bottom: 36px;
                        }
                    }
                }
            }
            .counter{
                .current{
                    @include cormorantregular;
                    font-size: 42px;
                    color:#b5b5b5;
                    line-height: 46px;

                }
                .total{
                    @include cormorantregular;
                    font-size: 42px;
                    color: $black;
                    line-height: 46px;
                }
            }
        }
        @media screen and (max-width: 860px){
            .grid-inner{
                padding-top: 110px;
                padding-bottom: 110px;
                .counter{
                    .current{
                        font-size: 40px;
                    }
                    .total{
                        font-size: 40px;
                    }
                }
            }

        }
        @media screen and (max-width: 560px){
            .grid-inner{
                padding-top: 70px;
                padding-bottom: 70px;
                .counter{
                    .current{
                        font-size: 38px;
                    }
                    .total{
                        font-size:38px;
                    }
                }
                .scrollpane{
                    margin-bottom: 35px;
                }
            }

        }
    }
    &.page-header{
        .grid-inner{
            margin-bottom:40px;
        }
        &.home{
            h1{
                font-size: 90px;
                strong{
                    border-bottom:3px solid transparent;
                }
            }
            p{
                margin-bottom: 35px;
            }
            .btn{
                color: #b4b4b4;
                svg{
                    opacity:1;
                    transform: rotate(90deg);
                }
                &:hover{
                    color: #b4b4b4;
                }
            }
        }
        h1{
            @include cormorantregular;
            font-size: 72px;
            color: $black;
            margin-bottom: 10px;
            strong{
                border-bottom:3px solid transparent;
            }
        }
        p{
            margin-bottom: 35px;
            @include opensans;
            font-size:16px;
            line-height: 24px;
            color: #b4b4b4;

        }
        @media screen and (max-width: 860px){
            &.home{
                h1{
                    font-size: 80px;

                }
            }
            h1{
                font-size: 68px;
                margin-bottom: 20px;
            }
            p{
                font-size: 15px;
                line-height: 23px;
            }
        }
        @media screen and (max-width: 560px){
            &.home{
                h1{
                    font-size: 60px;
                }
            }
            h1{
                font-size: 60px;
                margin-bottom: 18px;
            }
            p{
                font-size: 14px;
                line-height:22px;
            }
        }

    }
    &.image-and-text{
        >img{
            width: 100%;
            height: auto;
            display: block;
        }
        .image{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .text{
            .btns{
                margin-top: 20px;
            }
        }
        &.fullwidth{

            h2{
                width: 100%;
                max-width:366px;
                margin-bottom: 30px;
            }
            p{
                width: 100%;
                max-width: 710px;
            }
            img{
                margin-bottom: 65px;
            }
            &.no-margin{
                margin-bottom:0px;
                img{
                    margin-bottom: 0px;
                }
            }
        }
        &.left,&.right{
            margin-bottom: 70px;
            .grid-inner{
                position:relative;
            }
            .text{
                width: 32.97%;
                position: absolute;
                height: 100%;
                >div{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                h2{
                    margin-bottom: 30px;
                }
            }
            .image{
                width:calc(63.95% - 60px);
            }
        }
        &.left{
            .image{float:left;}
            .text{
                right:10px;
            }
            .image{
                margin-right: 90px;
            }
        }
        &.right{
            .image{float:right;}
            .text{
                left: 10px;
            }
            .image{
                margin-left: 90px;
            }
        }

        @media screen and (max-width: 860px){
            &.fullwidth{
                img{
                    margin-bottom: 50px;
                }
            }
            &.left,&.right{
                .text{
                    position: relative;
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    h2{
                        margin-bottom: 20px;
                    }
                    >div{
                        position: relative;
                        transform: none;
                        top: auto;
                    }
                }
                .image{
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 50px;
                }
            }
            &.left{
                .image{
                    float:none;
                    margin-right: 0px;
                }
                .text{
                    right: auto;
                }
            }
            &.right{
                .image{
                    float:none;
                    margin-left: 0px;
                }
                .text{
                    left: auto;
                }
            }
        }
        @media screen and (max-width: 560px){
            &.fullwidth{
                img{
                    margin-bottom: 40px;
                }
            }
            &.left,&.right{
                .text{

                    h2{
                        margin-bottom: 20px;
                    }
                }
                .image{

                    margin-bottom: 40px;
                }
            }

        }
    }
    &.small-highlight{
        background-color: #f7f7f7;
        .grid-inner{
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 0;
            padding-right: 0;
        }
        .btns{
            margin-top: 40px;
        }
        .inner{
            padding:0 10px;
            margin-bottom: 30px;
            font-size: 0;
            >div{
                display: inline-block;
                vertical-align: middle;

            }

            .item{
                @include cormorantregular;
                color: $black;
                text-decoration: none;
                font-size: 24px;
                line-height: 44px;

                display: inline-block;
                margin-right: 60px;
                &:last-child{
                    margin-right: 0px;
                }
            }
            &:last-child{
                margin-bottom: 0px;
                >div{
                    &:last-child{


                    }

                }
            }
        }
        @media screen and (max-width: 860px){
            .inner{
                .item{
                    font-size: 20px;
                    margin-right: 50px;
                }
            }
        }
        @media screen and (max-width: 560px){
            .inner{
                .item{
                    font-size: 18px;
                    margin-right: 40px;
                }
            }
        }
        @media screen and (max-width: 480px){
            h2{
                margin-bottom: 20px;
            }
        }
    }
    &.client-detail-block{
        background-color: #f7f7f7;
        .grid-inner{
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 0;
            padding-right: 0;
        }
        .btns{
            margin-top: 40px;
        }
        p{
            margin-bottom: 30px;
        }
        .image{
            img{
                width: 100%;
                max-width: 190px;
                height: auto;
            }
            opacity:0.5;
            transition: opacity 0.5s;
            @include easeOutQuint;
            &:hover{
                opacity:1;
            }
        }
        .inner{
            padding:0 10px;
            margin-bottom: 30px;
            font-size: 0;
            >div{
                display: inline-block;
                vertical-align: top;

            }

            .item{
                @include cormorantregular;
                color: $black;
                text-decoration: none;
                font-size: 24px;
                line-height: 44px;

                display: inline-block;
                margin-right: 60px;
                &:last-child{
                    margin-right: 0px;
                }
            }
            &:last-child{
                margin-bottom: 0px;
                >div{
                    &:last-child{


                    }

                }
            }
        }
        @media screen and (max-width: 860px){
            .inner{
                .item{
                    font-size: 20px;
                    margin-right: 50px;
                }
            }
        }
        @media screen and (max-width: 560px){
            .inner{
                .item{
                    font-size: 18px;
                    margin-right: 40px;
                }
            }
        }
        @media screen and (max-width: 480px){
            h2{
                margin-bottom: 20px;
            }
        }
    }
    &.list-block{
        &.has-background{
            position: relative;
            overflow:hidden;
            &:before{
                display: block;
                content:'';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #f7f7f7;
                top: 95px;
            }
        }
        .grid-inner{
            font-size: 0px;
            padding-bottom: 150px;
            >a{
                display: inline-block;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover{
                    .hover-block{
                        bottom: 0;
                    }
                }
            }
        }
        .inner{
            position: relative;
            overflow: hidden;
        }
        .image{
            img{
                width: 100%;
                height:auto;
                display: block;
            }
        }
        .hover-block{
            position: absolute;
            bottom: -150px;
            background-color: black;
            width: 100%;
            padding:40px;

            transition:all 0.3s;
            h2{
                color: white;
                font-size: 38px;
            }
            .item{
                @include opensans;
                font-size: 16px;
                line-height: 24px;
                color: $grey;
                position: absolute;
                display: block;
                right: 40px;
                bottom: 40px;
                text-decoration:none;
                transition: color 0.3s;
                &:hover{
                    color: $white;
                }
            }
        }
        &.mobile{
            .hover-block{
                bottom:0;
            }
        }
        @media screen and (max-width: 860px){
            .hover-block{
                .item{
                    font-size: 14px;
                }
            }
        }
        @media screen and (max-width: 560px){
            .hover-block{
                position: relative;
                bottom: auto;
                padding:20px;
                .item{
                    right:20px;
                    bottom: 20px;
                    font-size: 12px;
                }
            }
        }
    }
    &.works-list-block{
        padding-bottom: 100px;
        background-color: #f7f7f7;
        .grid-inner{
            padding-top: 40px;
        }
        .item{
            .header{
                h3{
                    @include cormorantlight;
                    font-size: 64px;
                    line-height: 110px;
                    color: #B4B4B4;
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                    &:after{
                        content:'';
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: $black;
                        position: absolute;
                        bottom: 20px;
                        opacity: 0;
                        transform: matrix(1,0,0,1,0,20);
                        transition: all 0.3s;
                    }
                }
            }
            .content{
                overflow:hidden;
                height:100%;
                max-height: 0;
                transition: all 0.5s;
                padding-bottom: 0px;
                padding-top: 0px;
                a{
                    @include cormorantmedium;
                    color: #b4b4b4;
                    text-decoration:none;
                    font-size:26px;
                    line-height: 31px;
                    transition:all 0.3s;
                    svg{
                        opacity: 0;
                    }
                    &:hover{
                        color: $black;
                        svg{
                            opacity:1;
                        }
                    }
                }
            }
            &.active{
                .header{
                    h3{
                        color: $black;
                        &:after{
                            opacity: 1;
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                }
                .content{
                    padding-bottom: 50px;
                    padding-top: 30px;
                }
            }
        }
        @media screen and (max-width: 860px){
            .item{
                .header{
                    h3{
                        font-size: 58px;
                        line-height: 98px;
                    }
                }
                .content{
                    a{
                        font-size: 24px;
                    }
                }
            }
        }
        @media screen and (max-width: 560px){
            .item{
                .header{
                    h3{
                        font-size: 50px;
                        line-height: 90px;
                    }
                }
                .content{
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &.hire-block{
        .grid-inner{
            padding-top:120px;
            padding-bottom:120px;

        }
        h2{
            font-size: 90px;
            line-height: 90px;
        }
        .btn{
            margin-top: 16px;
            display: block;
        }
        @media screen and (max-width: 860px){
            h2{
                font-size: 80px;
                line-height: 80px;
            }
        }
        @media screen and (max-width: 560px){
            h2{
                font-size: 70px;
                line-height: 70px;
            }
        }
    }

    &.contactos-map{
        #map{
            width: 100%;
            height: 750px;
        }
        .grid-inner{
            padding-top: 60px;
            padding-bottom: 60px;
            font-size: 0;
            .row>div{
                display: inline-block;
                h3{
                    @include cormorantregular;
                    color: $black;
                    font-size: 24px;
                    line-height: 44px;
                    margin-bottom: 20px;
                }
                p{
                    @include opensans;
                    font-size: 14px;
                    line-height: 28px;
                    color: $black;
                    a{
                        color: $black;
                        text-decoration:none;
                    }
                }

                ul{
                    padding:0;
                    list-style: none;
                    li{
                        padding-left: 0;
                        @include opensans;
                        font-size: 14px;
                        line-height: 28px;
                        color: $black;
                        a{
                            display:block;
                            @include opensans;
                            font-size: 14px;
                            line-height: 28px;
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 480px){
            .grid-inner{
                >div{
                    margin-bottom: 30px;
                    text-align: center;
                }
            }
        }
    }
}
